<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <p>
                Select App:
                <select ng-model="$ctrl.appName">
                    <option value="std">Save The Date</option>
                    <option value="bonda">Bonda</option>
                    <option value="shared">Shared</option>
                </select>
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <label for="selectedTables"> Select tables: </label><br>
            <select class="selectPicker" multiple name="selectedTables" id="selectedTables" ng-model="$ctrl.selectedTables">
                <option ng-repeat="table in $ctrl.appTables[$ctrl.appName]" value={{table}}>{{table}}</option>
            </select><br>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <p>Selected Tables = {{$ctrl.selectedTables}}</p><br/>
        </div>
    </div>

    <div>
        <button class="btn btn-danger" ng-click="$ctrl.onSetDirty()">Set Dirty</button>
    </div>

    <div>
        <div ng-repeat="error in $ctrl.setDirtyErrors">
            <p class="text-warning">
                {{error}}
            </p>
        </div>
        <div ng-repeat="result in $ctrl.setDirtyResults">
            Set dirty result: {{result}}
        </div>
    </div>

</div>
